<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170449565436-ce6bvm7s8ur9hrglsn026ph43thafbtm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170449565436-ce6bvm7s8ur9hrglsn026ph43thafbtm</string>
	<key>API_KEY</key>
	<string>AIzaSyCci350WgFKk-Laq-yBPGqgI5Hx1Z3-WgM</string>
	<key>GCM_SENDER_ID</key>
	<string>170449565436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ipaktulane.ToDoListSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>todolistswiftui-9462d</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistswiftui-9462d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170449565436:ios:9c72b44ce87f069fa2c979</string>
</dict>
</plist>